<div class="face-snap-card" [ngClass]="{ snapped : isAlreadySnap }">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate | date : 'dd/MM/yyyy HH' }}</p>
    <img [src]="faceSnap.imageUrl"  [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo de {{ faceSnap.location }}</p>
    <p>
        <button  (click)="caca()">{{ textButton }}</button>
        <span [ngStyle]="{ color : 'rgb(0,'+faceSnap.snaps +',0)' }">🤌 {{ faceSnap.snaps }}</span>
      </p>
</div> 
